{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="{{url_for('static', filename='card.png')}}" style="width:100%">
  <!-- Icon Bar -->
  <a href="{{ url_for('home')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  </a>
  <a href="{{ url_for('quiz')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-edit w3-xxlarge"></i>
  <p>QUIZ</p>
  </a>
 <a href="{{ url_for('about')}}" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-bar-chart w3-xxlarge"></i>
    <p>ABOUT</p>
 <a href="{{ url_for('contact')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-group w3-xxlarge"></i>
   <p>CONTACT</p>
 </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">About</h1>
  </header>
  <p class="text-justify">This web application was created to help both people, companies and banks alike.</p>
  <p class="text-justify">By creating, training and deploying a Machine Learning model, this web app is able to predict how much risk an individual represents when applying for a credit based on different parameters such as:
  <ul>
    <li>Gender.</li>
    <li>Annual Income.</li>
    <li>Number of days someone has been employed.</li>
  </ul>
  Depending on the submitted information, the model will yield a determined outcome.
  </p>
  <p class="text-justify">After the evaluation of these parameters, the user will know if they represent a Low Risk, Medium Risk or a High Risk when submitting an application.</p>
  <p class="text-justify">To know your risk level, please head on over to the Quiz page to begin.</p>

<!-- END PAGE CONTENT -->
</div>
{% endblock %}