{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="{{url_for('static', filename='card.png')}}" style="width:100%">
  <!-- Icon Bar -->
  <a href="{{ url_for('home')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  </a>
  <a href="{{ url_for('quiz')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-edit w3-xxlarge"></i>
  <p>QUIZ</p>
  </a>
 <a href="{{ url_for('about')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-bar-chart w3-xxlarge"></i>
    <p>ABOUT</p>
 <a href="{{ url_for('contact')}}" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-group w3-xxlarge"></i>
   <p>CONTACT</p>
 </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">Contact Page</h1>
    <p>Contacts here.</p>
  </header>

  <div class="w3-row-padding w3-grayscale w3-center w3-padding-large" >

    <div class="w3-col l4 m6 w3-margin-bottom w3-center">
      <img src="{{url_for('static', filename='jimi.jpg')}}" class="image" alt="Jimi" style="width:100%">
      <h3>Jimi Jenneskens</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p style="text-align: justify;">Passionate BSc Logistic Engineer and Data Analyst with three years of experience in supply chain logistics, warehousing & distribution and production logistics.</p>
      <p><i class="fa fa-envelope w3-large"></i>&nbsp;&nbsp;jimijenneskens@gmail.com</p>
      <p><a href="https://www.linkedin.com/in/jimi-jenneskens/" class="fa fa-linkedin w3-hover-opacity" style="font-size: 250%;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/JimiJenneskens" class="fa fa-github w3-hover-opacity" style="font-size: 250%;"></a> 
      </p>
      <button class="w3-button w3-light-grey w3-padding-small">
        <i class="fa fa-download"></i> Download Resume
      </button>
    </div>

    <div class="w3-col l4 m6 w3-margin-bottom w3-center">
      <img src="{{url_for('static', filename='rodrigo.jpg')}}" class="image" alt="Rodrigo" style="width:100%">
      <h3>Rodrigo Lozano</h3>
      <p class="w3-opacity">Architect</p>
      <p style="text-align: justify;">Data Analyst with  a strong background in Human Resources. Passionate about working with other people and recurring to data and information to creatively solve problems.</p>
      <p><i class="fa fa-envelope w3-large"></i>&nbsp;&nbsp;rodrigo.lozanoloz@gmail.com</p>
      <p><a href="https://www.linkedin.com/in/rodrigo-lozano-lozano-60a7b6139/" class="fa fa-linkedin w3-hover-opacity" style="font-size: 250%;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/RoLDT" class="fa fa-github w3-hover-opacity" style="font-size: 250%;"></a> 
      </p>
      <button class="w3-button w3-light-grey w3-padding-small">
        <i class="fa fa-download"></i> Download Resume
      </button>
  </div>

    <div class="w3-col l4 m6 w3-margin-bottom">
      <img src="{{url_for('static', filename='alfredo.jpg')}}" class="image" alt="Alfredo" style="width:100%">
      <h3>Alfredo Ocegueda</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p style="text-align: justify;">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><i class="fa fa-envelope w3-large"></i>&nbsp;&nbsp;alf.ocegueda@gmail.com</p>
      <p><a href="https://www.linkedin.com/in/alfredo-ocegueda-0109071b2/" class="fa fa-linkedin w3-hover-opacity" style="font-size: 250%;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/AlfredoOcegueda" class="fa fa-github w3-hover-opacity" style="font-size: 250%;"></a> 
      </p>
      <button class="w3-button w3-light-grey w3-padding-small">
        <i class="fa fa-download"></i> Download Resume
      </button>
    </div>
    
    
  </div>

    <div class="w3-row-padding w3-grayscale w3-center w3-padding-small" >
      <div class="w3-col l2"><p></p></div>
      
      <div class="w3-col l4 m6 w3-margin-bottom">
        <img src="{{url_for('static', filename='sergio.jpg')}}" class="image" alt="Sergio" style="width:100%">
        <h3>Sergio Guarneros</h3>
        <p class="w3-opacity">Architect</p>
        <p style="text-align: justify;">Data analyst with bachelor degree in petroleum engineering and background in management, mathematics, and geo sciences.</p>
        <p><i class="fa fa-envelope w3-large"></i>&nbsp;&nbsp;sergio.guarneros.luna@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/sergio-guarneros-luna-1990/" class="fa fa-linkedin w3-hover-opacity" style="font-size: 250%;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/SergioGL8" class="fa fa-github w3-hover-opacity" style="font-size: 250%;"></a> 
        </p>
        <button class="w3-button w3-light-grey w3-padding-small">
          <i class="fa fa-download"></i> Download Resume
        </button>
      </div>

      <div class="w3-col l4 m6 w3-margin-bottom">
        <img src="{{url_for('static', filename='diego.png')}}" class="image" alt="Diego" style="width:100%">
        <h3>Diego Cravioto</h3>
        <p class="w3-opacity">Architect</p>
        <p style="text-align: justify;">Having studied at ITAM, I have had a broad education in current affairs, economics and statistics, which I am currently complementing with a diploma in finance.</p>
        <p><i class="fa fa-envelope w3-large"></i>&nbsp;&nbsp;@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/diego-cravioto-fern%C3%A1ndez-979087158/" class="fa fa-linkedin w3-hover-opacity" style="font-size: 250%;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/DiegoCravis" class="fa fa-github w3-hover-opacity" style="font-size: 250%;"></a> 
        </p>
        <button class="w3-button w3-light-grey w3-padding-small">
          <i class="fa fa-download"></i> Download Resume
        </button>
      </div>

    <div class="w3-col l2"><p></p></div>
  </div>


    
</div>

<!-- END PAGE CONTENT -->
</div>


{% endblock %}